<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-left">
      <img src="/LogoCibertec.png" alt="Logo Cibertec" class="footer-logo">
      <p class="footer-brand">@ReservasCibertec</p>
      <p class="footer-desc">Proyecto de reservas de aulas</p>
    </div>
    
    <div class="footer-right">
      <h4 class="footer-heading">Propiedad de Cibertec</h4>
      <ul class="integrantes-list">
        <li>1. Elton Joan Cruz Retuerto</li>
        <li>2. Matias Jonas Acosta Acarpio</li>
        <li>3. Fernando Salazar Olivera</li>
        <li>4. Bouffanais Suarez Bastian German</li>
        <li>5. Bravo Mosquera Michael Smith</li>
        <li>6. Yoinaider Jose</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 Cibertec. Todos los derechos reservados.</p>
  </div>
</footer>